.scroll-float {
    overflow: hidden;
    display: inline-block;
}

.scroll-float-text {
    display: inline-flex;
    flex-wrap: wrap;
}

.scroll-float-text .char {
    display: inline-block;
    will-change: opacity, transform;
}